NFE/Web References/br.gov.ms.fazenda.nfe.MSStatusServico4/NFeStatusServico4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4" xmlns:ns1="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico4" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://nfe.fazenda.ms.gov.br:443/ws/NFeStatusServico4?xsd=1" namespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico4" />
  <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
  <xs:element name="nfeDadosMsg" type="ns1:nfeResultMsg" />
  <xs:element name="nfeResultMsg">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="nfeCabecMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="cUF" type="xs:string" />
      <xs:element minOccurs="0" name="versaoDados" type="xs:string" />
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="skip" />
  </xs:complexType>
</xs:schema>